# Ignora todo por defecto
*
!.gitignore

# Permitir sólo la configuración del servidor
!docker-compose.yaml
!router.db
!config/
!config/**

# Por si aparecen, nunca versionar runtime
logs/
crash/
backup-equipos/
pid
*.swp
.DS_Store
